<!DOCTYPE html>
<html lang="es">
<head>
<title>{{page.title}}</title>
<meta charset="utf-8" />
</head>
<body>
<header>
<h1>{{site.title}}</h1>
<details>
<summary>Índice</summary>
<nav aria-label="Índice">
<ul>
<li><a href="index.html">Introducción</a></li>
<li><a href="algebraico.html">Rápido repaso al sistema algebraico</a></li>
<li><a href="obligatorias.html">Etiquetas obligatorias</a></li>
<li><a href="ejemplopartida.html">Ejemplo básico de unapartida</a></li>
</nav>
</details>
</header>
<main>
<article>
<h1>{{page.title}}</h1>
{{content}}
</article>
</main>
</body>
</html>